<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Computer Programming</h1>
    <h2>It's very fun.</h2>
    <p><%= studentid %></p>
    <p><%= age %></p>
    <% objmascots.forEach(function(mascots) { %>

        <p class="asdf"><%= mascots.name%>
        <%= mascots.Location%>
        <%= mascots.birth_year%></p>

    <% }); %>
</body>
</html>